/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
   body {
      background-color: aqua;

   }


   width-half {
      width: 37%;
      padding-left: 5%;
      padding-right: 5%;
   }

   h1 {
      font-size: 43px;
   }

   h2 {
      font-size: 32px;

   }

   p {
      font-size: 22px;
   }

   .width-half img {
      width: 90%;
      margin-top: 50px;
   }

   .black-colored {
      font-size: 20px;
   }

   .width-one-third img {
      width: 130%;
      border-radius: 100px;
      /* margin-left: 20px;
      margin-right: 25px;
      margin-top: 150px; */
   }

   .width-one-third-project-pic {
      width: 40%;
      margin-right: 80px;
      margin-top: 100px;
   }

}

/* ==========================================================================
   Tablet Layout: 768px. 
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {

   body {
      background-color: antiquewhite;
   }

   width-half {
      width: 50%;
      padding: 2%;
   }

   h1 {
      font-size: 32px;
   }

   h2 {
      font-size: 25px;

   }

   p {
      font-size: 19px;
      color: rgba(23, 24, 24, 0.849);
      word-spacing: 0;
      text-align: left;
   }

   .width-half img {
      width: 100%;
      margin-top: 50px;
   }

   .black-colored {
      font-size: 20px;
   }

   .width-one-thidr img {

      margin-bottom: -26px;
      margin-left: 58px;
      margin-right: 50px;
   }

   .flexible-container-two {
      height: 600px;

   }

   .width-one-third {
      width: 40%;

      margin-left: -1px;
      margin-top: 150px;
   }


   .width-one-third-project-pic {
      width: 40%;
      margin-right: 48px;
      margin-top: 140px;
   }








}

/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

   body {
      background-color: rgb(12, 171, 54);
   }

   width-half {
      width: 50%;
      padding: 2%;
   }

   h1 {
      font-size: 32px;
   }

   h2 {
      font-size: 23px;

   }

   p {
      font-size: 16px;
      color: rgba(23, 24, 24, 0.849);
      word-spacing: 0;
      text-align: left;
   }

   .width-half img {
      width: 100%;
      margin-top: 50px;
   }

   .black-colored {
      font-size: 20px;
   }

   .width-one-thidr img {
      box-sizing: border-box;
      width: 45%;
      margin margin: auto;
      border-radius: px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
   }

   .flexible-container-two {
      height: 600px;

   }

   .width-one-thidr {
      width: 28.33%;
      height: 650px;
      box-sizing: border-box;
      border: 1px solid grey;
      border-radius: 30px;
      padding-left: 30px;
      padding-right: 15px;
      padding-top: 3px;
      /* padding-bottom: 84px; */
   }

   .width-one-third img {
      width: 200%;
      height: 70%;
      border-radius: 20px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 120px;
  }
  .width-one-third-project-pic {
   width: 100%;
   height: 100%;
   padding-right: 51px;
   border-radius: 20px;
   margin-left: 18px;
   margin-right: 0px;
   margin-top: 120px;
}

.width-two-third-project {
   width: 60%;
   padding-left: 50px;
   padding-right: 30px;
   padding-top: 20px;
   margin-left: 1px;
   margin-right: -14px;
}



/* ==========================================================================
   Mobile Layout: 320px.
   ========================================================================== */
@media only screen and (min-width: 200px) and (max-width: 479px) {}